@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt&display=swap');


label {
    display: block;
    line-height: 15px;
}

.container {
    width: 450px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.479);
    margin: auto;
    margin-top: 190px;
    padding-bottom: 5px;
    padding-top: 20px;
    border-radius: 5%;
}

body {
    background: rgb(156,133,218);
    background: linear-gradient(90deg, rgba(156,133,218,1) 11%, rgba(95,160,255,1) 50%, rgba(156,133,218,1) 88%);
}

.halaman {
    text-align: center;
    font-family: Prompt;
}

ul li {
    list-style: none;
}

.input1 {
    margin-bottom: 15px;
    width: 190px;
    height: 25px;
    padding: 3px;
    align-items: center;
    font-family: poppins;
    color: black;
    cursor: pointer;
}

button {
    width: 190px;
    height: 30px;
    background: #408eff;
    border-radius: 2%;
    margin-left: 82px;
    margin-top: 10px;
    font-family: poppins;
    font-size: 15px;
    border: 0;
    cursor: pointer;
}

input {
    margin-left: 79px;
    cursor: pointer;
}